/*
 * Themes
 */

body, .white {
    @include theme(
        $background-color: $white,
        $text-color: $black,
        $brand-color: $red,
    );
}

.black {
    @include theme(
        $background-color: $black,
        $text-color: $white,
        $brand-color: $red,
    );
}

.red {
    @include theme(
        $background-color: $red,
        $text-color: $white,
        $brand-color: $black,
    );
}
