---
layout: basic
---

{% include header.html %}

<article class="text-wrapper margin-auto-h padding-l-v wrapper-padding">

  <h1>{{ page.title }}</h1>

  {{ content }}

  {% assign folder_name = page.short_title | slugify | append: '/' %}
  {% for file in site.pages %}
    {% if file.path contains folder_name %}
      <h2><a href="{{ file.url }}">
        {{ file.title }}
      </a></h2>
      {% assign first_paragraph = file.content | markdownify | split: '</p>' | first | split: '<p>' | last | prepend: '<p>' | append: '</p>' %}
      {{ first_paragraph }}
    {% endif %}
  {% endfor %}

</article>
