{% capture blank %}
  {% if page.header %}
    {% assign header = page.header %}
  {% elsif layout.header %}
    {% assign header = layout.header %}
  {% elsif page.collection.header %}
    {% assign header = page.collection.header %}
  {% else %}
    {% assign header = false %}
  {% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{% if page.parallax or page.collection.parallax %}parallax-body{% endif %}" {% if page.itemtype %} itemscope itemtype="{{ page.itemtype }}" {% endif %}>

    {% if page.parallax or page.collection.parallax %}
    <div class="parallax-page">
    {% endif %}

      {% if header %}
        {% include header.html %}
      {% endif %}

      {{ content }}

    {% if page.parallax or page.collection.parallax %}
    </div>
    {% endif %}

    {% include scripts.html %}

  </body>

</html>
